
<table class="table table-sm table-hover">
  <thead class="thead theadMid">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Title</th>
      <th scope="col">Credits</th>
      <th scope="col">Semester</th>
      <th scope="col">Original</th>
      <th scope="col">1st&nbsp;resit</th>
      <th scope="col">2nd&nbsp;resit</th>
      <th scope="col">Final</th>
      <th scope="col">Outcome</th>
    </tr>
  </thead>
  <tbody>
    {% for module in marks %}
    <tr>
      <td>{{ module.Code }}</td>
      <td>{{ module.Title }}</td>
      <td>{{ module.Credits }}</td>  
      <td>{{ module.Semester }}</td>  
      <td>{{ module.Original }}</td>
      <td>{{ module.1stResit }}</td>
      <td>{{ module.2ndResit }}</td>      
      <td>{{ module.Final }}</td>
      <td>{{ module.Outcome }}</td>  
    </tr>
    {% endfor %}
  </tbody>
</table>
