<!-- Navigation -->
<div class="bg-dark">
  <div class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <a class="navbar-brand" href="{{ site.baseurl }}/tiles/index.html">Campus 9.2</a> &nbsp;
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item"><a class="nav-link" href="{{ "/tiles/vanilla.html" | prepend: site.baseurl }}">Vanilla</a></li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stu blue
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign pages = (site.pages | where: "nav","stublue" | sort: "sortTitle" ) %}
              {% for page in pages %}
              <a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
              {% endfor %}
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stu white
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign pages = (site.pages | where: "nav","stuwhite" | sort: "sortTitle" ) %}
              {% for page in pages %}
              <a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
              {% endfor %}
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stu v2 blue
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign pages = (site.pages | where: "nav","stu2blue" | sort: "sortTitle" ) %}
              {% for page in pages %}
              <a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
              {% endfor %}
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              App v2 blue
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign pages = (site.pages | where: "nav","app2blue" | sort: "sortTitle" ) %}
              {% for page in pages %}
              <a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
              {% endfor %}
            </div>
          </li>

          <li class="nav-item"><a class="nav-link" href="{{ "/tiles/staff2blue.html" | prepend: site.baseurl }}">Staff</a></li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stu v3 blue
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign pages = (site.pages | where: "nav","stu3blue" | sort: "sortTitle" ) %}
              {% for page in pages %}
              <a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
              {% endfor %}
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stu v4 blue
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign pages = (site.pages | where: "nav","stu4blue" | sort: "sortTitle" ) %}
              {% for page in pages %}
              <a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
              {% endfor %}
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stu v5 blue
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign pages = (site.pages | where: "nav","stu5blue" | sort: "sortTitle" ) %}
              {% for page in pages %}
              <a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
              {% endfor %}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              App v5 blue
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign pages = (site.pages | where: "nav","app5blue" | sort: "sortTitle" ) %}
              {% for page in pages %}
              <a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
              {% endfor %}
            </div>
          </li>

          <li class="nav-item"><a class="nav-link" href="{{ "/tiles/staff5blue.html" | prepend: site.baseurl }}">Staff v5</a></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blues
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign pages = (site.pages | where: "nav","newblues" | sort: "sortTitle" ) %}
              {% for page in pages %}
              <a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
              {% endfor %}
            </div>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>
