
<h2>View notes</h2>
<p>Intro line if needed...<br/>
Click a students name to view their notes:</p>

<!-- DATATABLE LIST -->
  <table id="DataTable" class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Course</th>
        <th scope="col">UG/PG</th>
        <th scope="col">Year</th>
        <th scope="col">StudentID</th>    
        <th scope="col">Last note</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      {% assign notes = "n" %}
      {% if student.n == '1' or student.n == '4'%}
        {% assign notes = "y" %}
      {% endif %}
      <tr style="position: relative">
        {% if notes == 'y' %}
        <td class="name" data-sort="{{ student.surname }} {{ student.forename }}"><a href="viewNote.html" class="stretched-linkX primary">{{ student.name }}</a></td>        
        {% else %}
        <td class="name" data-sort="{{ student.surname }} {{ student.forename }}">{{ student.name }}</td>
        {% endif %}       
        <td><div class="courseX text-truncateX">{{ student.course }}</div></td>
        <td>{{ student.career }}</td>
        <td>{{ student.year }}</td>
        <td>{{ student.id }}</td>
        {% if notes == 'y' %}
        <td>20 Oct 2025</td>
        {% else %}
        <td><i>no notes</i></td>  
        {% endif %}    
      </tr>
      {% endfor %}
    </tbody>
  </table>


<a class="btn btn-dark" href="home.html" role="button">Back</a>



