

<!-- tile -->
<div class="ps_grid-row nuitile {{ tile.width }} rsz_h1 nuidflt {{ tile.class }}" tx="3.064" ty="1.0812182741116751" gx=".3.064." gy=".1.0812182741116751.">

  <div class="ps_grid-cell">
    <div class="ps_box-group psc_layout psc_rowact nuilp" tabindex="0" draggable="true" role="link" droppable="true" aria-labelledby="PTNUI_LAND_REC_GROUPLET_LBL$1" aria-describedby="pt_dnd" onclick="#">

      <!-- label -->
      <div class="ps_groupleth">
        <span class="ps-label">{{ tile.title }}</span>
      </div>

      <!-- group  -->
      <div class="ps_box-grouplet">

        <!-- icon -->
        <div class="ps_box-group psc_layout">
          <div class="ps_box-group psc_layout psc_tile_content  psc_tile_content-center psc_tile-box-img">
            <div class="ps_box-grouplet">

              <i class="fas {{ tile.icon }}"></i>
              <!-- <img src="{{ tile.icon | prepend: '/images/' }}" class="ps_process" alt="" title=""> -->
              
            </div>
          </div>
        </div>

      </div> <!-- /group  -->

    </div> <!-- /nuilp  -->
  </div> <!-- /grid-cell  -->

</div> <!-- /tile  -->
