<!-- WideTables Navigation -->
<div class="bg-dark">
  <div class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <a class="navbar-brand" href="{{ site.baseurl }}/bluecastle/index.html">Wide tables test</a> &nbsp;
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          {% assign pages = (site.pages | where: "widestablenav","yes" | sort: "sortTitle" ) %}
          {% for page in pages %}
          <li class="nav-item"><a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endfor %}

        </ul>
      </div>
    </nav>
  </div>
</div>
