html, .container-fluid, .Xrow   {height: 100%;}
body    {height: 100%; margin-bottom: 4em /* leave room for sticky footer */}


h1      {margin-bottom: 0}
h2 			{font-size: 1.7rem; padding-bottom: 0}
h3 			{font-size: 1.2rem; font-weight: bold; padding-top: 1rem}
h4      {font-size: 1rem; font-weight: bold; padding-top: 0.5rem}

.strapline    {font-size: 1.3rem; font-weight: 300}
.notFullWidth {width: auto}

.note         {background: #CCFFFF; padding: 3px; font-style: italic; font-size: 80%}


/*banner   NB background NOT the 'find my uon' black #0e202e but the current black */
.hub 		        {background: #1d2733; color: white; height: auto;}
.hub .back      {line-height: 1}
.hub .back .btn {padding: 0.2rem 0.75rem 0.2rem 0.3rem; margin: 3px}
.hub .title     {text-align: center; font-size: 20px; padding: 7px 0px}
.hub .icons     {text-align: right; padding: 7px 2em}


/* sidebar */
.main           {padding-left: 1.5em; position: relative}
.home           {padding-left: 2em; }
.sidebar        {flex-basis: 355px; flex-grow: 0; background: #f8f8f8; height: 100%}
.groupList      {list-style-type: none; margin: 0 -15px; padding: 0; border-top: 2px solid #ccc;}
.groupList li   {border-bottom: 2px solid #ccc; padding: 0.25em 15px; min-height: 3em; position: relative /* for stretched link*/}
.groupList .active {background: #FDF3E4 /* redwood 11 ie --pt-menu-item-hover-background-color); */}
.groupList li:hover {background-color: rgba(0,0,0,.075);/* same as bootstrap table hover*/}
.groupList a    {color: black}

.sidebar .media          {padding-top: 1.2em; }
.sidebar .media-body     {font-size: 0.9em; font-style: italic;}
.sidebar .media-body h5  {font-size: 1.5em; font-style: normal; font-weight: 400; margin-bottom: 0}
.sidebar .media .material-symbols-sharp {font-size: 40px; padding-right: 10px; padding-top: 3px}


/* home */
.strapline      {margin-bottom: 2rem;}
.sub            {font-size: 0.8em; font-style: italic; padding-left: 36px; padding-top: 1.5em}
.CTA            {font-size: 1.5em; font-weight: 300; line-height: 1}
.CTA .material-symbols-sharp {font-size: 32px;}
.searchbox      {border: 1px solid #116EB1 /* redwood blue6*/;}

/* search form */
.btn-primary  {padding: 6px 30px}
.noPad        {margin-bottom: 0}
::placeholder {font-style: italic}

@media only screen and (min-width: 720px) {
    .form-control {width: 50%}
    .padTitle     {margin-bottom: 30px;}
}


/* search results list */
.nav-tabs                  {line-height: 1; font-size: 1.2em; margin-bottom: 1em; padding-top: 1em}
.nav-tabs li               {padding-bottom: 0}
.nav-tabs .nav-link.active {font-weight: bold;}

.table-sm td, .table-sm th {padding: 0.2rem 0.5rem; border-top: 0}
.table-sm td               {border-top: 2px solid #dee2e6;}
.table-sm th               {background: #EBEEF0 /* GREY  */}
.table-sm                  {border-bottom: 2px solid #dee2e6;}

.table a                   {color: #6c757d; /* secondary grey  */}
.table a.primary           {color: #007bff /* bootstrap primary link as redwood blue6 too weak */}
.table a:hover             {color: #0056b3 /* bootstrap primary hover as redwood blue6 too weak */}

.filterRow                 {padding-bottom: 0.5em}
.dataTables_wrapper .search input  {line-height: 1.5; font-size: 1rem; height: calc(1.5em + 0.75rem + 2px); border: 1px solid #116EB1 /* redwood blue6*/;}
.right                     {text-align: right}
#DataTable_filter          {text-align: left}
#DataTable_filter label    {font-weight: normal; margin-top: 0; margin-bottom: 0}
.levels label              {font-weight: normal; margin-right: 0.5em}
#DataTable_paginate .pagination li {padding-bottom: 0}
#DataTable                 {line-height: 1.5;}

.extrafilters select       {max-width: 10em;}



.name                    {white-space: nowrap;}
.id                      {font-style: italic;}
.school                  {font-style: italic; font-size: 100%}
.photo 					         {width: 4rem; padding-right: 1em}
.email                   {display: none;}
.actions                 {white-space: nowrap; /* to over ride stretched link... */ z-index: 2; position: relative;}
.actions .material-symbols-sharp {padding-right: 0.3em;}

.bottom-bar              {background: #ccc; left: 355px; padding: 0.5em 15px 0.3em 15px}
.fixed-bottom            {border-top: 3px solid #aaa}
.tab-content             {margin-bottom: 4em}
tr                       {position: relative}  /* so stretched links work */

.bottom-bar .media-body     {font-size: 0.9em; font-style: italic;}
.bottom-bar .media-body h5  {font-size: 1.3em; font-style: normal; font-weight: 400; margin-bottom: 0}
.bottom-bar .media .material-symbols-sharp {padding-right: 3px; }
.bottom-bar .media .btn     {margin-right: 1em;}

/* do different viewport widths */
.course                  {max-width:250px}
.school                  {max-width:250px}


/* photo grid */
.photogrid                  {float: left; margin-right: 1.5em; margin-bottom: 1.5em; position: relative; /* for stretched link */}
.photogrid .card-body       {padding: 0.5rem;}
.photogrid h5               {font-size: 1rem;}
.photogrid .card-title      {margin-bottom: 0;}
.photogrid p                {margin-bottom: 0; font-style: italic;}
.photogrid .material-symbols-sharp  {position: absolute; bottom: 0.5rem; right: 0.5rem;}


/* details page */
.details .title             {margin-bottom: 0.5rem}
.details h2                 {margin-bottom: 0.5rem; font-size: 1.8rem; }
.details h2.completed       {font-size: 1.5em}
.details h3                 {font-weight: normal}
.detailsphoto               {width: 100%; margin-bottom: 1em}
.space                      {padding-top: 1.5em; height: auto}
.details dt                 {font-weight: normal; }

.details .padRight           {margin-right: 2em}
.details .padLeft            {margin-left: 0.5em}
.details .padBottom          {margin-bottom: 1.5em}
.details .padTop             {margin-top: 1.5em}

.details dl                  {margin-bottom: 0.4rem; margin-top: 0.4rem}
.inline dt                   {padding-right: 0.5em; }
.inline dd                   {padding-right: 2.5em; margin-bottom: 0; font-weight: bold}
.inline dd span              {font-weight: normal; font-style: italic;}
.codes                       {padding-left: 3em; font-size: 90%}
.details .card-header        {background: inherit; padding: inherit;}

.details .material-symbols-sharp    {padding-right: 3px;}
.details h2 .material-symbols-sharp {padding-left: 0.2em;}


/* material icons */
.material-symbols-sharp {vertical-align: middle; padding-bottom: 3px; font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48 }
.solid                  {font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48 }

.primary                {color: #116EB1 /* redwood blue6 */}
.secondary              {color: #6c757d /* bootstrap grey */}
.hilight                {color: #C04A26 /* redwood45 orange/brown */}

.smIcon                 {font-size: 20px;}
.mdIcon                 {font-size: 24px;}
.lgIcon                 {font-size: 30px;}





labelXX      {font-weight: bold; margin-top: 0.8em}
#buttons   {margin-top: 2.5em; /*border-top: 1px solid #ccc; padding-top: 1.5em*/}
.btn-outline-secondary {margin-right: 1em}



	.secondary td   {padding: 0.4rem}
	.secondary th   {padding: 0.4rem; text-align: right}


	.floatLeft      {float:left; }

	.table-striped thead tr { background-color: rgba(0,0,0,.1)}
	.table-striped thead th { padding: 0.5rem 1.5rem; border-bottom: none}  /* tighter & darker */
	.table-striped th,
	.table-striped td       { padding: 0.75rem 1.5rem; border-bottom: 2px solid rgba(0,0,0,.1);}



  .form-check-label  {margin-top: 0;}

.form-check-label {font-weight: normal; /* disability options */}

  li {padding-bottom: 0.5rem}
