<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="{{ "/assets/awc.css" | prepend: site.baseurl }}" media="screen" type="text/css">
{% if page.customcss %}
  <!-- custom css -->
  {% for stylesheet in page.customcss %}
  <link rel="stylesheet" href="{{ stylesheet | prepend: site.baseurl }}" media="screen" type="text/css">
  {% endfor %}
{% endif %}

<body>

	<!-- TOP NOTTINGHAM HUB BAR -->

	<div class="hub">
    <div class="row">
      <div class="col back">
        {% if page.back %}
        <a class="btn btn-outline-light" type="submit" href="{{page.backurl}}"><span class="material-symbols-sharp">chevron_left</span>{{page.back}}</a>
        {% endif %}
      </div>
      <div class="col title">
        {{ page.title }}
      </div>
      <div class="col icons">
        Icons...
      </div>
    </div>
	</div>

	<!-- NAV BAR omitted -->

	<!-- MAIN -->
	<div class="container-fluid">
		<div class="row">
	    <!-- SIDEBAR -->
      <div class="col-md-3 sidebar">
	    {% include awc-sidebar.html %}
	    </div>

	    <!-- CONTENT -->
      <div class="col-md-9 main">
	    {{ content }}
	    </div>
		</div>
	</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ "/vendor/jquery-3.3.1.slim.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/popper.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/bootstrap-4.3.1.min.js " | prepend: site.baseurl }}"></script>

{% if page.customjs %}
<!-- custom js -->
{% for jsfile in page.customjs %}
<script src='{{ jsfile | prepend: site.baseurl }}' type="text/javascript"></script>
{% endfor %}
{% endif %}

</body>
</html>
